@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/autoplay";

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
.swiper-slide {
  opacity: 0.4;
  transform: scale(0.9);
  transition: all 0.35s ease-in-out;
}

.swiper-slide-active {
  opacity: 1 !important;
  transform: scale(1) !important;
}

.swiper-slide-next,
.swiper-slide-prev {
  opacity: 0.6;
  transform: scale(0.95);
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #caeb66;
  --color-primary-content: #acc857;

  --color-secondary: #606060;
  --color-secondary-content: #1f1f1f;
}
body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  @apply bg-gray-200;
}
